@import "../../sass/lavishScheme";

.contactsContainer, .addContact {
  border: solid;
  border-width: .1em;
  border-color: $gray-base;
  border-radius: 1vw;

  background-color: rgba(255,255,255,.7);
  
}

.addContact, .beginChat {
  flex-basis: auto;
}

// .contactsContainer {
//   flex-basis: 50%;
// }

.contactsContainer {
  overflow: auto;
}

.action-icon {
  color: $brand-success;
}

.addContact input {
  border-radius: 1vw;
}

button {
  border-radius: 1vw;
}

.contactsList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.contactsList li{
  list-style-type: none;
  border-top-style: solid;
  border-width: 1px;
  border-color: $gray-base;
}

.contactsList :first-child{
  border-top-style: none;
}

li.selected {
  background-color: rgba($gray, .4);
}

.fa-square {
  color: $gray-lighter;
}

.fa-square.isOnline {
  color: $brand-success;
}

.accepted {
  color: $brand-info;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s; 
}

.rejected {
  color: $brand-warning;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s; 
}

@keyframes blinker {
  from { opacity: 1.0; }
  40%, 60% { opacity: 0  }
  to { opacity: 1.0; }
}