@import "../../styles";

.chat-window, .input-window {
  border: solid;
  border-width: .1em;
  border-color: $gray-base;
  border-radius: 1vw;

  background-color: rgba(255,255,255,.7);
  overflow: auto;
}

.input-window {
  overflow: visible;
}

.inputBox {
  flex-grow: 1;
}

.inputBox input {
  width: 100%;
  border-radius: 1vw;
}

.inputButtons {
  flex-basis: auto;
  position: relative;
}

.message {
  min-width: 10%;
  max-width: 50%;
  text-align: left;
  clear: both;
  border-radius: 1vw;
}

.incoming {
  background-color: $brand-primary;
  float: left;
  border-bottom-left-radius: 0;
}

.message:not(.incoming) {
  float: right;
  border-bottom-right-radius: 0;
  background-color: $gray-lighter;
}

@media (min-height: 300px) {
  .chat-window{
    height: 40vh;
  }
}

@media (min-height: 450px) {
  .chat-window{
    height: 60vh;
  }
}

app-canvas {
  height: $app-canvas-height;
  width: $app-canvas-width;
  background-color: $gray-lighter;
  position: absolute;
  top: -$app-canvas-height;
  left: -$app-canvas-width;
  border-style: solid;
  border-width: 1px;
  border-radius: 1vh;
  border-bottom-right-radius: 0;

}

.senderDiv {
  font-size: .8em;
  color: $gray-light;
  border-bottom-style: dashed;
  border-bottom-color: $gray-darker;
  border-bottom-width: 1px;
  text-align: center;
}