@import "../../sass/lavishScheme";

.chat-window, .input-window {
  border: solid;
  border-width: .1em;
  border-color: $gray-base;
  border-radius: 1vw;

  background-color: rgba(255,255,255,.7);
  overflow: auto;
}

.inputBox {
  flex-grow: 1;
}

.inputBox input {
  width: 100%;
  border-radius: 1vw;
}

.inputButtons {
  flex-basis: auto;
}

@media (min-height: 300px) {
  .chat-window{
    height: 40vh;
  }
}

@media (min-height: 450px) {
  .chat-window{
    height: 60vh;
  }
}