@import "~bootstrap/scss/bootstrap";
@import "../../sass/lavishScheme.scss";
@import "../../styles.scss";

#title-div {
  width: 50%;
  overflow: hidden;
}

#loginFrame a {
  width: 100%;
  text-align: center;
  border-top: solid $gray-darker 1px;
}

.framedAnim {
  @extend .framed;
  @extend .centered;
  transition: all 2s ease-out;
}

.framedAbove {
  @extend .framed;
  @extend .centered;
  top: -100%;
}

@include media-breakpoint-down(sm) { 
  #loginContainer {
    background: none;
  }

  #loginFrame {
    //display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300;
  }

  form {
    font-size: 1.5em;
  }
}